@font-face {
    font-family: "NanumSquareL";
    src: url("./font/NanumSquareL.woff");
}

.App{
    font-family: 'NanumSquareL';
}

.red{color: red}

.active{
    color: white; 
    background: #24272b;
}

.unactive{
    background: #efefef;
}

